[data-section="md"] {
  display: flex;
  align-items: center;
  height: var(--comp-section-md-height);
  padding: 0 var(--comp-section-md-h-pad);
}

[data-section="lg"] {
  padding: var(--comp-section-lg-v-pad) var(--comp-section-lg-h-pad);
}

[data-container] {
  width: 100%;
  max-width: var(--comp-container-max-w);
  margin-inline: auto;
  position: relative;
  container-type: inline-size;
}

[data-row] {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

[data-row][data-justify="between"] {
  justify-content: space-between;
}

[data-stack] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

[data-gap="2xs"] {
  gap: var(--comp-stack-2xs);
}

[data-gap="xs"] {
  gap: var(--comp-stack-xs);
}

[data-gap="sm"] {
  gap: var(--comp-stack-sm);
}

[data-gap="md"] {
  gap: var(--comp-stack-md);
}

[data-gap="lg"] {
  gap: var(--comp-stack-lg);
}
