.success-main {
  padding-top: var(--comp-section-md-height);
}

.home-link {
  color: var(--output-color-fg);
  text-decoration: underline;
  text-decoration-color: var(--output-color-faint);
  text-underline-offset: var(--comp-link-underline-offset);
}
